/*
Screen style sheet (browsers)
Author:   Cameron Moll, http://cameronmoll.com/
Version:  2009.05
*/

/* 
GENERAL STYLES ---------------------------- */

body {
	
	/* This property specifically for Mozilla browsers, which as of this writing don't 
	support multiple backgrounds; this property also repeated in ie.css for
	Internet Explorer, which ignores these background properties in 
	succession like this */
	background: #f1efe8 url(../img/bg-dark.jpg) repeat-x;
	
	/* These properties specifically for Safari, which does support multiple 
	backgrounds */
	background: url(../img/bg-dark.jpg) repeat-x top center, url(../img/bg-light.jpg) repeat-x 239px left;
	background-color: #f1efe8;

	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	color: #36332a;
	}

a:link, a:active, a:visited {
	color: #af670a;
	text-decoration: none;
	}

a:hover {
	color: #227115;
	}
	
a img {
	border: none;
	}	

#popular a:hover, #voices p a:hover, #meta-video a:hover, #main-video a:hover, #secondary-video a:hover {
	border-bottom: 1px solid #d5cfc0;
	}

legend {
	display: none;
	}

/* Required with strict doctype or extra padding may mysteriously
appear at the bottom of images */
img {
	display: block; 
	}	

#content-wrapper {
	position: relative;
	margin: 0 auto;
	width: 1070px;
	}
	
#grid {
	position: absolute;
	top: -20px;
	left: -10px;
	width: 1090px;
	z-index: 9999;
	}	


/* 
@FONT-FACE ---------------------------- */

@font-face {
	font-family: "Museo Sans X";
	src: url(../fonts/MuseoSans_500.otf);
	}

#header ul a, #header h2, #home h3, #home h4, #main-video h3 {
	font-family: "Museo Sans X", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; 
	}

	
/* 
HEADER ---------------------------- */

#header ul {
	margin: 20px 25px 63px;
	}

#header li {
	float: left;
	}

#header ul a {
	float: left;
	margin-right: 25px;
	padding: 0 0 3px;
	color: #f0eee7;
	font-size: 11px;
	text-transform: uppercase;
	}	
	
#header ul a:hover {
	padding-bottom: 2px;
	border-bottom: 1px solid #423b2b;
	}	
	
#header ul a em {
	font-style: normal;
	color: #7f7159;
	}

#header h1 {
	float: left;
	margin-left: 25px;
	width: 266px;
	}

#header h1 a {
	display: block;
	width: 266px;
	height: 27px;
	text-indent: -9999px;
	background: url(../img/logo.png) no-repeat;
	}

#header h2 {
	float: left;
	margin-left: 15px;
	width: 475px;
	padding-top: 12px;
	color: #7f7159;
	font-size: 10px;
	text-transform: uppercase;
	}	

#header form {
	float: right;
	margin-right: 25px;
	text-align: right;
	width: 249px;
	}

#header form label {
	position: absolute;
  	left: -9999px;
	}

/* Attribute selector */
#header form input[type="text"] {
	display: block;
	float: left;
	margin: 0;
	height: 20px;
	padding: 6px 0 0 28px;
	border: 0;
	width: 180px;
	height: 20px;
	color: #333;
	background: url(../img/search-bg.gif) no-repeat;
	}

/* Attribute selector */
#header form input[type="image"] {
	float: left;
	}	

/* Used when the "watermark" is in place (removed for user entry) */	
#header form input.watermark { 
	color: #64644d;
	}


/* 
MAIN CONTENT (HOME) ---------------------------- */

#main {
	float: left;
	margin: 36px 10px 40px 0;
	width: 710px;
	}
	
#main h3 {
	color: #227115;
	font-size: 14px;
	text-transform: uppercase;
	}	
	
#main-featurette {
	min-height: 190px;
	font-size: 11px;
	line-height: 13px;
	
	/* This property specifically for Mozilla browsers, which as of this writing don't 
	support multiple backgrounds; this property also repeated in ie.css for
	Internet Explorer, which ignores these background properties in 
	succession like this */
	background: #f1efe8 url(../img/bg-colosseo-overlay.jpg) no-repeat left 21px;
	
	/* These properties specifically for Safari, which does support multiple 
	backgrounds */
	background: url(../img/bg-colosseo-overlay.jpg) no-repeat left 21px, url(../img/bg-colosseo.jpg) no-repeat;
	background-color: #f1efe8;
	}

#main-featurette h4 {
	margin-top: 14px;
	font-size: 12px;
	color: #af670a;	
	text-transform: uppercase;
	}

#main-featurette p {
	margin-top: 6px;
	}

#main-featurette ul {
	margin-top: 10px;
	}

#main-featurette li {
	float: left;
	}

#main-featurette li a {
	margin-right: 15px;
	padding-right: 8px; 
	font-weight: bold;
	background: url(../img/arrow-orange.png) no-repeat right center;
	}

#featurette1 {
	position: relative;
	float: left;
	margin: 23px 0 0 25px;
	padding-left: 135px;
	width: 175px;
	}	

#featurette1 p {
	text-indent: -.3em; /* for hanging punctuation on the quotation mark */
	}
	
#featurette1 img {
	position: absolute;
	top: -10px;
	left: -5px;
	}	
	
#featurette2 {
	position: relative;
	float: left;
	margin: 23px 0 0 39px;
	padding-left: 108px;
	width: 202px;
	}	
	
#featurette2 img {
	position: absolute;
	top: 10px;
	left: -10px;
	}		

#video h3, #interactive h3 {
	margin-bottom: 24px;
	}

#video {
	float: left;
	margin-left: 25px;
	width: 310px;
	}

#video a {
	position: relative;
	}

/* The pseudo-property "content:" is not supported by IE, which 
results in the play icon not showing in IE; also, the !important value 
is used as a hack to hide the icon from Mozilla browsers, which don't 
respect the negative value for absolute positioning on this 
particular element */
#video a:after {
	content: none !important;
	content: url(../img/play.png);
	position: absolute;
	top: -59px;
	left: 17px;
	}	

#interactive {
	float: left;
	margin-left: 37px;
	width: 310px;
	}
	
#popular {
	clear: left;
	float: left;
	margin: 45px 0 0 25px;
	width: 310px;
	}	
	
#popular ul {
	float: left;
	width: 50%;
	margin-top: 13px;
	font-size: 11px;
	color: #36332a;
	}	
	
#popular li {
	padding: 2px 0;
	}	
	
#popular a:link, #popular a:active, #popular a:visited {
	color: #36332a;
	}	
	
#popular a:hover {
	color: #227115;
	}	
	
#popular a strong {
	padding-right: 8px; 
	background: url(../img/arrow-black.png) no-repeat right center;
	}	

#voices {
	float: left;
	margin: 45px 0 0 37px;
	width: 310px;
	}	
	
#voices ul {
	position: relative;
	width: 310px;
	height: 178px;
	background: url(../img/bg-map.gif) no-repeat;
	}	

#voices ul li.l1 {
	position: absolute;
	padding-top: 16px;
	background: url(../img/mapmarker-dot.png) no-repeat 2px top;
	}	

#voices ul li.l1 a {
	display: block;
	padding-left: 11px;
	font: 11px/14px Georgia, serif;
	color: #32312a;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
	background-color: rgba(255, 255, 255, 0.78);
	}	

#voices ul li.l1 a em {
	display: block;
	padding: 7px 8px 3px 2px;
	height: 19px;
	text-indent: -.3em;
	}

/* CSS3 text-overflow 
See http://www.css3.info/preview/text-overflow */
#voices ul li.l1 a em { 
	white-space: nowrap; 
	width: 135px; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	-khtml-text-overflow: ellipsis; 
	-moz-text-overflow: ellipsis; 
	-webkit-text-overflow: ellipsis;
	}	

/* Display the full text on mouseover */	
#voices ul li.l1 a em:hover {
	white-space: normal;
	overflow: visible;
	cursor: hand;
	cursor: pointer;
	background: #fff none;
	height: 72px;
	padding-left: 11px;
	padding-bottom: 5px;
	margin-left: -9px;
	}	
	
#voices ul li.l2 {
	position: absolute;
	padding-top: 16px;
	background: url(../img/mapmarker-dot-alt.png) no-repeat 129px top;
	}	

#voices ul li.l2 a {
	display: block;
	padding-right: 11px;
	font: 11px/14px Georgia, serif;
	color: #32312a;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
	background-color: rgba(255, 255, 255, 0.78);
	}	

#voices ul li.l2 a em {
	display: block;
	padding: 7px 0 3px 10px;
	height: 19px;
	text-indent: -.3em;
	}

/* CSS3 text-overflow 
See http://www.css3.info/preview/text-overflow */
#voices ul li.l2 a em { 
	white-space: nowrap; 
	width: 135px; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	-khtml-text-overflow: ellipsis; 
	-moz-text-overflow: ellipsis; 
	-webkit-text-overflow: ellipsis;
	}	

/* Display the full text on mouseover */	
#voices ul li.l2 a em:hover {
	white-space: normal;
	overflow: visible;
	text-overflow: inherit;
	-o-text-overflow: inherit;
	cursor: hand;
	cursor: pointer;
	background: #fff none;
	height: 72px;
	padding-right: 11px;
	padding-bottom: 5px;
	margin-right: -11px;
	}	

#voices p {
	text-align: right;
	}	
	
#voices p a {
	margin-left: 10px;
	font-size: 10px;
	padding-right: 8px; 
	background: url(../img/arrow-orange.png) no-repeat right center;
	}	

#carousel {
	position: relative; 
	width: 710px; 
	height: 320px; 
	overflow: hidden; 
	background: #fff;
	}

#carousel-photos a {
	width: 710px; 
	height: 320px; 
	background: #1e1a0e url(../img/loading.gif) no-repeat center center; 
	}
	
#carousel a#prev {
	display: block;
	position: absolute; 
	width: 20px;
	height: 35px;
	top: 145px;
	left: 13px;
	z-index: 998; 
	text-indent: -9999px;
	background: url(../img/arrow-prev.png) no-repeat 0 0;
	}
	
#carousel a:hover#prev { 
	background-position: 0 -36px;
	}

/* IE doesn't play well with this style, so it's disabled in ie.css*/
#carousel a:active#prev { 
	background-position: 1px -35px;
	}

#carousel #next {
	position: absolute; 
	width: 20px;
	height: 35px;
	top: 145px; 
	right: 13px; 
	z-index: 999; 
	text-indent: -9999px;
	background: url(../img/arrow-next.png) no-repeat 0 0;
	}

#carousel a:hover#next { 
	background-position: 0 -36px;
	}

/* IE doesn't play well with this style, so it's disabled in ie.css*/
#carousel a:active#next { 
	background-position: 1px -35px;
	}


/* 
SECONDARY CONTENT (HOME) ---------------------------- */

#secondary {
	float: left;
	margin-top: 36px;
	width: 350px;
	}

#secondary-feature {
	position: relative;
	height: 320px;
	background: #c27e28 url(../img/feature-orange.jpg) no-repeat;
	}

#secondary-feature p { 
	position: absolute;
	top: 60px;
	left: 36px;
	width: 278px;
	height: 158px;
	text-indent: -9999px;
	background: url(../img/quote-colossus.png) no-repeat;
	}

#secondary-featurette {
	margin-top: 21px;
	padding: 15px 27px 0 27px;
	height: 104px;
	font-size: 11px;
	background: url(../img/bg-noise.jpg) no-repeat;
	}

#secondary-featurette h4 {
	font-size: 12px;
	color: #af670a;	
	text-transform: uppercase;
	}
	
#secondary-featurette form {
	margin-top: 10px;
	}

#secondary-featurette form label {
	font-weight: bold;
	padding-left: 10px;
	}
	
/* Adjacent selector, which turns off the left padding (above) for the first label, "Check in" */	
#secondary-featurette form legend+label {
	padding-left: 0 !important;
	}

#secondary-featurette form img { 
	display: inline;
	vertical-align: -3px;
	}

/* Attribute selector */
#secondary-featurette form input[type="text"] { 
	width: 55px;
	font-size: 10px;
	}
	
/* Attribute selector */
#secondary-featurette form input[type="image"] {	
	padding-left: 13px;
	vertical-align: -6px;
	}
	
#secondary-featurette form fieldset {
	margin: 10px 0;
	}	

#secondary-featurette form legend {
	display: none;
	}	
	
#secondary-featurette form select {
	width: 200px;
	}	
	
/* Date picker */
.ui-datepicker-trigger { 
	padding-left: 3px; 
	cursor: hand; 
	cursor: pointer; 
	}	

#photos {
	padding: 50px 0 0 27px;
	min-height: 500px;
	background: url(../img/bg-secondary.jpg) no-repeat;
	}

#photos h3 {
	margin-bottom: 18px;
	color: #36332a;
	font-size: 14px;
	text-transform: uppercase;
	}	

#photos a {
	float: left;
	padding: 10px 5px 10px 15px;
	width: 122px;
	height: 121px;
	}

#photos img {
	padding: 13px 15px 15px 14px;
	background: url(../img/thumb-frame.png) no-repeat;
	}


/* 
MAIN CONTENT (VIDEO PAGE) ---------------------------- */

#main-video {
	float: left;
	margin: 40px 10px 70px;
	width: 520px;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	}
	
#main-video h3 {
	margin-bottom: 6px;
	font-size: 18px;
	line-height: 24px;
	}	

#main-video p {
	font-size: 11px;
	text-indent: 17px;
	}

#meta-video	 {
	float: left;
	margin: 40px 25px 70px;
	width: 210px;
	}
	
#meta-video h4 {
	margin-top: 5px;
	font-size: 12px;
	}	

#meta-video h5 {
	margin-top: 5px;
	font-size: 11px;
	font-weight: normal;
	}	

#meta-video img {
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
	float: left;
	margin: 0 15px 10px 0;
	padding: 4px;
	background: rgba(255, 255, 255, 1);
	}

#secondary-video	 {
	float: left;
	margin: 40px 25px 70px 57px;
	width: 178px;
	font-size: 10px;
	color: #5c584c;
	}

#secondary-video	 h4 { 
	font-size: 12px;
	}	
	
#secondary-video	 p { 
	padding-bottom: 11px;
	} 	
	
#secondary-video ul {
	margin: 2px 0 6px;
	}	

#secondary-video ul li {
	line-height: 18px;
	}
	
#secondary-video ul li em {
	padding-left: 2px;
	color: #9d9786;
	font-size: 10px;
	font-style: normal;
	}

#secondary-video ul li a {
	font-weight: bold;
	font-size: 11px;
	}	
		

/* 
FOOTER ---------------------------- */
	
#footer {
	clear: left;
	padding: 40px 0 60px;
	min-height: 0;
	color: #8a867c;
	font-size: 10px;
	text-align: center;
	background: url(../img/bg-footer.gif) no-repeat center top;
	}	

#footer p {
	padding-bottom: 8px;
	}

#footer-links { 
	margin-bottom: 10px;
	}

#footer-links a {
	padding: 0 10px;
	}

#footer #cameronmoll {
	margin: 20px auto 0;
	width: 124px;
	}


/* 
P.I.E. FLOAT CLEARING ----------------------------
See http://www.positioniseverything.net/easyclearing.html
and http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/
*/

.clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

.clearfix {display: inline-block;}
.clearfix {display: block;}
		