<link rel="stylesheet" href="/css/highlightjs/vs.css"> <!-- 添加代码高亮，使用vs风格 -->
<div id="post-content" class="mdl-color-text--grey-700 mdl-card__supporting-text fade out">
    <% if(theme.scheme === 'Paradox') { %>
        <%- page.content %>
    <% } %>

    <% if(theme.scheme === 'Isolation') { %>
        <div class="post-content_wrapper">
            <p class="post-title">
                <%- page.title %>
            </p>
            <%- page.content %>
        </div>
    <% } %>
</div>
