.ac_results {
	margin-left: 26px;
	padding: 0;
	background-color: #1d190e;
	}

.ac_results ul {
	width: 100%;
	color: #f0eee7;
	list-style: none;
	list-style-position: outside;
	}

.ac_results li {
	padding: 3px 5px;
	width: 170px;
	cursor: default;
	display: block;
	font-size: 11px;
	}

.ac_loading {
		background: url(../img/search-bg.gif) no-repeat 0 -26px !important;
	}

.ac_over {
	color: #f0eee7;
	background-color: #423b2c;
	}