/* This style sheet is specifically for Internet Explorer (any version) */

body {
	background: #f1efe8 url(../img/bg-dark.jpg) repeat-x;
	}
	
/* This property added for IE weirdness with Cufon */
em, i {
    font-style: italic;
	}
	
/* Eliminates the doubled-margin bug in IE;
see http://www.positioniseverything.net/explorer/doubled-margin.html */
#header ul {
	display: inline;
	}	

#header form input[type="text"] {
	padding-top: 4px;
	padding-bottom: 2px;
	}
	
#main-featurette {	
	background: #f1efe8 url(../img/bg-colosseo-overlay.jpg) no-repeat left 21px;
	}
	
#main-featurette li a {
	white-space: nowrap;
	}
	
#secondary-featurette form input[type="text"] { 
	width: 47px;
	}

#secondary-featurette form input[type="image"] {	
	vertical-align: -3px;
	}	
	
#main-video h3 { 
	margin-bottom: 10px;
	}	
	
#carousel a:active#prev { 
	background-position: 0 -36px;
	}

#carousel a:active#next { 
	background-position: 0 -36px;
	}
	
#featurette1 {
	padding-left: 160px;
	}	

#featurette1 img {
	left: 18px;
	}		
	
#featurette2 {
	padding-left: 105px;
	}	

#secondary-featurette { 
	padding: 17px 27px 0 27px;
	height: 102px;
	}

#voices ul li.l1 a, #voices ul li.l2 a {
	background-color: #fff;
	}
